site_name: Ecotracer Analytics
use_directory_urls: false
theme:
  name: material

nav:
  - Home: index.md
  - Parameter Analysis: parameter_analysis.md
  - API Reference: api.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
